.finish {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    gap: 20px;
    height: 100vh;

    &__result {
        display: grid;
        place-items: center;
        gap: 20px;
    }

    &__score {
        font-size: 3rem;
    }

    &__tracks {
        width: 600px;
        display: grid;
        gap: 20px;
        height: 80%;
        grid-auto-rows: 200px;
        overflow-y: auto;
    }

    &__played-track {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;

        &__result {
            margin: 0 10px;
            align-self: end;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__icon {
                min-width: 3rem;
            }
        }
    }
}

.track-display {
    margin: 10px;

    &__title {
        font-weight: 600;
        display: block;
        margin-bottom: 10px;
    }

    &__author {
        color: rgba(255, 255, 255, 0.554);
    }

    &__album {
        margin-left: 20px;
        color: rgba(255, 255, 255, 0.554);
    }
}
