.autocomplete {
    width: 300px;
    position: relative;
    color: black;

    &__input {
        box-sizing: border-box;
        width: 100%;
        border: none;
    }

    &__options {
        max-height: 300px;
        position: absolute;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: white;
    }

    &__option {
        padding: 10px 20px;

        &:hover {
            background-color: rgb(186, 186, 186);
        }
    }
}

.track-display__title {
    font-weight: 600;
}

.track-display__author {
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.554);
}
