.game {
    display: grid;
    place-items: center;
    height: 80vh;
    width: 80vw;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 5fr;

    &__search-form {
        grid-column: 1 / -1;
        align-self: start;
        display: flex;
        align-items: center;
        gap: 10px;

        input {
            height: 50px;
            font-size: 1.2rem;
            border-radius: 10px;

            &:focus {
                border-radius: 10px 10px 0 0;
            }
        }
    }
}

.modal {
    &__content {
        background-color: var(--main-dark-color);
        padding: 20px;
        width: 350px;
        display: grid;
        grid-template-columns: 1fr 80px;
        grid-template-rows: min-content min-content min-content 50px;
        gap: 20px;
        place-items: center;
        margin-bottom: 20vh;
        border-radius: 20px;
    }

    &__close-button {
        grid-column: -2 / -1;
    }

    &__overlay {
        position: absolute;
        display: grid;
        place-items: center;
        background-color: rgba(0, 0, 0, 0.496);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.track-display {
    grid-column: 1 / -1;

    &__title {
        font-weight: 600;
    }

    &__author {
        margin-left: 10px;
        color: rgba(255, 255, 255, 0.554);
    }
}
