.main {
    display: grid;
    height: 80vh;
    width: 80vw;
    grid-template-rows: 1fr 100px;
    grid-template-columns: 180px 1fr;

    .playlist-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow: auto;
    }
}
