.autocomplete {
    width: 300px;
    position: relative;
    color: black;

    &__input {
        box-sizing: border-box;
        width: 100%;
        border: none;
        height: 50px;
        font-size: 1.2rem;
        border-radius: 10px;

        &--open {
            border-radius: 10px 10px 0 0;
        }

        &:focus {
            outline: none;
        }
    }

    &__options {
        max-height: 300px;
        position: absolute;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: white;
    }
}
