.container {
    height: 100%;
    display: grid;
    place-content: center;
    gap: 40px;

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        h3 {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    .main {
        display: flex;
        justify-content: center;

        a {
            text-decoration: none;
            color: #f59e0b;
            font-size: 1.5rem;
            font-weight: 700;
            height: 2rem;

            &:hover {
                animation: fontFlashing 0.8s linear infinite alternate;
            }
        }
    }
}

@keyframes fontFlashing {
    to {
        font-size: 2.3rem;
    }
}
