.main {
    display: grid;
    height: 80vh;
    width: 80vw;
    grid-template-rows: 1fr 50px;

    .tracks-select {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow: auto;

        &__type {
            margin: 20px 0;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &__header {
            position: sticky;
            top: 0px;
            z-index: 1;
            padding: 5px;
            text-align: center;
            background-color: var(--main-dark-color);
        }
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 20px;
    }

    .button-wrapper {
        justify-self: center;
    }
}
